In [81]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from datetime import datetime
import itertools as itert

In [82]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
223,tt1441395,13300000,5380251,Under the Skin,Scarlett Johansson|KryÅ¡tof HÃ¡dek|Paul Branni...,Jonathan Glazer,A mysterious seductress preys upon the populat...,"Jonathan Glazer's atmospheric, visually arrest...",108,Thriller|Science Fiction|Drama,Scottish Screen|UK Film Council|FilmNation Ent...,3/14/2014,6.0,2014
576,tt0232500,38000000,207283925,The Fast and the Furious,Paul Walker|Vin Diesel|Michelle Rodriguez|Jord...,Rob Cohen,Live life 1/4 mile at a time.,Domenic Toretto is a Los Angeles street racer ...,106,Action|Crime|Thriller,Universal Pictures|Original Film|Ardustry Ente...,6/22/2001,6.4,2001
266,tt0974661,20000000,136267476,17 Again,Zac Efron|Leslie Mann|Matthew Perry|Tyler Stee...,Burr Steers,Who says you're only young once?,"On the brink of a midlife crisis, 30-something...",102,Comedy,New Line Cinema|Offspring Entertainment,3/11/2009,6.0,2009
1260,tt1327773,25000000,115922175,The Butler,Forest Whitaker|David Banner|Michael Rainey Jr...,Lee Daniels,One quiet voice can ignite a revolution,A look at the life of Cecil Gaines who served ...,132,Drama,Laura Ziskin Productions|Lee Daniels Entertain...,8/16/2013,7.2,2013
1566,tt0372183,75000000,288500217,The Bourne Supremacy,Matt Damon|Franka Potente|Brian Cox|Julia Stil...,Paul Greengrass,They should have left him alone.,When a CIA operation to purchase classified Ru...,108,Action|Drama|Thriller,Universal Pictures|The Kennedy/Marshall Compan...,7/23/2004,7.1,2004

In [83]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [144]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data.revenue - data.budget

data['genres_list'] = data.genres.apply(lambda x:str(x).split('|'))
data['actor'] = data.cast.apply(lambda x:str(x).split('|'))
data['prod_comp'] = data.production_companies.apply(lambda x:str(x).split('|'))
data['month'] = data.release_date.apply(lambda x: datetime.strptime(str(x),'%m/%d/%Y').month)
data['len_title'] = data.original_title.apply(lambda x: len(str(x)))
data['len_overview'] = data.overview.apply(lambda x: len(str(x)))

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [85]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# +
# если ответили верно, можете добавить комментарий со значком "+"

In [86]:
data[data.budget == data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [87]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [88]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [89]:
data[data.runtime == data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [90]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [91]:
data[data.runtime == data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [92]:
answers['4'] = '2. 110'

In [93]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [94]:
answers['5'] = '1. 107'

In [95]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [96]:
answers['6'] = '5. Avatar (tt0499549)'

In [97]:
data[data.profit == data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [142]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [99]:
data[data.profit == data.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [100]:
answers['8'] = '1. 1478'

In [101]:
data[data.profit > 0]['imdb_id'].count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [102]:
answers['9'] = '4. The Dark Knight (tt0468569) '

In [103]:
data[data.revenue == data[data.release_year == 2008].revenue.max()].original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [104]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [105]:
data[data.profit == data[(data.release_year >= 2012) & (data.release_year <= 2014)].profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [106]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = '3. Drama'

ВАРИАНТ 2

In [107]:
df_exp = data.explode('genres_list',ignore_index=False)
df_exp.groupby('genres_list')['genres_list'].agg(['count']).sort_values(by='count', ascending=False).index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [108]:
answers['12'] = '1. Drama'

In [109]:
#df_exp = data.explode('genres_list',ignore_index=False)
df_exp['profit'] = df_exp.revenue - df_exp.budget
df_exp[df_exp.profit > 0].genres_list.value_counts().index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [110]:
answers['13'] = '5. Peter Jackson'

In [111]:
data.groupby('director')['revenue'].sum().sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [112]:
answers['14'] = '3. Robert Rodriguez'

In [113]:
df_exp[df_exp.genres_list == 'Action'].groupby('director')['genres_list'].count().sort_values(ascending=False)

director
Michael Bay           7
Paul W.S. Anderson    7
Robert Rodriguez      6
Ridley Scott          6
Antoine Fuqua         6
                     ..
Les Mayfield          1
Kurt Wimmer           1
Kevin Smith           1
Kevin Macdonald       1
Adam McKay            1
Name: genres_list, Length: 345, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [114]:
answers['15'] = '3. Chris Hemsworth'

In [115]:
df_actor_exp = data.explode('actor')
df_actor_exp[df_actor_exp.release_year == 2012].groupby('actor')['revenue'].sum().sort_values(ascending=False).index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [116]:
answers['16'] = '3. Matt Damon'

In [117]:
df_actor_exp[data.budget > data.budget.mean()]['actor'].value_counts().index[0]

<ipython-input-117-7f3dac158d24>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_actor_exp[data.budget > data.budget.mean()]['actor'].value_counts().index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [118]:
answers['17'] = '2. Action'

In [119]:
df_exp = data.explode('genres_list').explode('actor')
df_exp[df_exp.actor == 'Nicolas Cage'].groupby(['actor','genres_list'])['genres_list'].count().sort_values(ascending=False).index[0][1]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [120]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [121]:
df_exp = data.explode('prod_comp')
df_exp[df_exp.prod_comp == 'Paramount Pictures'].groupby('original_title')['profit'].min().sort_values(ascending=True).index[0]

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [122]:
answers['19'] = '5. 2015'

In [123]:
data.groupby('release_year')['revenue'].sum().sort_values(ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [124]:
answers['20'] = '1. 2014'

In [125]:
df_exp = data.explode('prod_comp')
df_exp['is_wb'] = df_exp.prod_comp.apply(lambda x:str(x).find('Warner Bros'))
df_exp[df_exp.is_wb == 0].groupby('release_year')['profit'].sum().sort_values(ascending=False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [126]:
answers['21'] = '4. Сентябрь'

In [127]:
data.groupby('month')['imdb_id'].count().sort_values(ascending=False).index[0]

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [128]:
answers['22'] = '2. 450'

In [129]:
data[data.month.isin([6,7,8])].count().sort_values(ascending=False).imdb_id

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [130]:
answers['23'] = '5. Peter Jackson'

In [131]:
data[data.month.isin([1,2,12])].groupby('director')['original_title'].count().sort_values(ascending=False).index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [132]:
answers['24'] = '5. Four By Two Productions'

In [133]:
df_exp = data.explode('prod_comp')
df_exp.groupby('prod_comp')['len_title'].mean().sort_values(ascending=False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [134]:
answers['25'] = '3. Midnight Picture Show'

In [135]:
df_exp = data.explode('prod_comp')
df_exp.groupby('prod_comp')['len_overview'].mean().sort_values(ascending=False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [136]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [137]:
data[data.vote_average > data.vote_average.quantile(0.9)].sort_values(by='vote_average',ascending=False).original_title

599         The Dark Knight
125      The Imitation Game
118            Interstellar
9                Inside Out
34                     Room
               ...
194          The Best of Me
1565        The Incredibles
191                Unbroken
182          Predestination
271     Law Abiding Citizen
Name: original_title, Length: 185, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [138]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

In [139]:
data['actor_list'] = data.cast.apply(lambda x:str(x).split('|'))
data['actor_pair'] = data.actor_list.apply(lambda x:list(itert.combinations(x, 2)))

df_exp = data.explode('actor_pair')
df_exp.groupby('actor_pair')['imdb_id'].count().sort_values(ascending=False)

actor_pair
(Daniel Radcliffe, Emma Watson)             8
(Daniel Radcliffe, Rupert Grint)            8
(Rupert Grint, Emma Watson)                 7
(Ben Stiller, Owen Wilson)                  6
(Johnny Depp, Helena Bonham Carter)         6
                                           ..
(Matthew McConaughey, Rene Russo)           1
(Matthew McConaughey, Reese Witherspoon)    1
(Matthew McConaughey, Powers Boothe)        1
(Matthew McConaughey, PenÃ©lope Cruz)       1
(50 Cent, Adewale Akinnuoye-Agbaje)         1
Name: imdb_id, Length: 18121, dtype: int64

# Submission

In [143]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569) ',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [141]:
# и убедиться что ни чего не пропустил)
len(answers)

27